.card {
    max-width: 100%;
    word-break: break-word;
}

.card__header {
    position: relative;
}

.open-popover {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    background-image: url('https://cdn0.iconfinder.com/data/icons/user-interface-255/100/more-512.png');
    background-position: 50% 0%;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.card__popover {
    position: absolute;
    border: 1px solid #d1d1d1;
    background: white;
    padding: 10px;
    border-radius: 5px;
    right: 40px;
    top: 0%;
}

.card__popover ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.card__popover li {
    padding: 5px 0;
}


.card__popover li:hover  {
    background: #f1f1f1;
}
.card:hover {
    cursor: pointer;
    border-color: #888;
}

.card__flex {
    display: flex;
    flex-wrap: wrap;
}

.card__col-left {
    padding: 0 3px;
    font-size: 2rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.card__col-right {
    padding: 0;
    flex: 1;
}

.card__user, .card__date {
    margin-right: 5px;
}

.userImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 3px;
}